/* Your responsive CSS styles go here */


@media (max-width:500px) {
    .resume {
      width: 90%;
      font-size: 32px;
      background-color: yellow;
    }
  }
  
  @media (min-width:1000px){
    .profile {
      width: 30%;
      text-align: center;
    }
    .contact {
      width: 55%;
      background-color: greenyellow;
    }
  }

  @media (min-width:501px) and (max-width:999px)
  {
      .Experience {
          width: 40%;
          background-color: lightgreen;
      }
  }